<?xml version='1.0' encoding='utf-8'?>
<widget id="com.okhiroyuki.redmobile" version="10.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RedMobile</name>
    <description>
        NodeRED on Mobile.
    </description>
    <author email="ok.okada.hiroyuki@gmail.com" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <allow-navigation href="http://app/*"/>
    <allow-navigation href="https://app/*"/>
    <allow-navigation href="http://localhost/*"/>
    <allow-navigation href="https://localhost/*"/>
    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
            <application android:requestLegacyExternalStorage="true" />
            <application android:largeHeap="true" />
        </edit-config>
        <preference name="scheme" value="redmobile"/>
        <preference name="hostname" value="localhost"/>
        <preference name="AndroidLaunchMode" value="singleInstance"/>
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <icon density="mdpi" src="res/icon/android/mdpi/ic_red.png" />
        <icon density="hdpi" src="res/icon/android/hdpi/ic_red.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi/ic_red.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi/ic_red.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi/ic_red.png" />
        <hook src="scripts/android/prepareNode.js" type="before_run" />
        <hook src="scripts/android/copyWWW.js" type="before_run" />
        <hook src="scripts/android/prepareNode.js" type="before_build" />
        <hook src="scripts/android/copyWWW.js" type="before_build" />
        <hook src="scripts/android/stripExtraWriteExternalStoragePerm.js" type="after_prepare" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
